# Variables

In [1]:
# variable  : 02_Python_for_Genomics_2.ipynb

codon = "atg"

# Print the variable
print(codon)

atg

In [4]:
dna_sequence =  "atggtgtgttggaaccccttt"
print(dna_sequence)

atggtgtgttggaaccccttt

#  variable tips and notes
-variable names can only contain letters, numbers, and underscores

-variable names can start with a letter or an underscore, but not a number

-variable names cannot contain spaces

-variable names should be short but descriptive

-variable names should use lowercase letters and underscores

-variable names should not use Python keywords

In [15]:
# Print the length of the sequence
dna_sequence =  "atggtgtgttggaaccccttt"
print(dna_sequence)

print(len(dna_sequence))

atggtgtgttggaaccccttt
21

In [13]:
#use the count method to count the number of "a" in the sequence
dna_sequence.count("a")

3

In [14]:
#uppercase the sequence
dna_sequence.upper()

'ATGGTGTGTTGGAACCCCTTT\n'

In [16]:
dna_sequence.find("gtg")

3

In [17]:
dna_sequence.replace("a", "t")

'ttggtgtgttggttccccttt'

In [18]:
dna_sequence.rfind("gtg")

5

In [19]:
help(dna_sequence.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [20]:
dna_sequence.islower()

True

In [21]:
dna_sequence.isupper()

False